/* html structure

body
  container
    top-
      title, nav
    main/page/post-
      title, date, content
    footer-
      tagcloud, license

*/

@import url('https://fonts.googleapis.com/css?family=Fira+Sans:300,400,400i,700,700i,900');

body {
  font-size: 18px;
  line-height: 1.5em;
  font-family: "Fira Sans", Arial, sans-serif;
  color: #222;
  background-color: #FFF8E9;
}

.container {
  margin: 0 auto;
  width: 700px;
  max-width: 90%;
}

a:link, a:visited {
  color: red;
  text-decoration: none;
}

a:hover {
  color: red;
  text-decoration: underline;
}


/* TOP */

.top {
  margin-bottom: 3em;
}

.top-banner {
  width: 80%;
}

.top-banner-area {
  width: 180px;
}

.top-title-area {
  vertical-align: middle;
}

.top-title {
  color: #222;
  display: inline-block;
  /* font-family: "Bahiana", Arial, sans-serif; */
  font-size: 2em;
  line-height: 0.1em;
  font-weight: 900;
  margin: 1.25em 0;
}

.top-nav ul {
  list-style: none;
  padding: 0;
}

.top-nav ul li {
  display: inline-block;
  margin: 0;
}

.top-title a:link, .top-title a:visited {
  color: #222;
  text-decoration: none;
}

.top-title a:hover {
  color: #222;
  text-decoration: underline;
}

form.search-form {
  min-width:280px;
  width:290px;
}


/* MAIN */

.main h2 {
  margin-top: 2em;
  font-size: 1.25em;
  text-transform: lowercase;
}

.main ul {
  list-style: none;
  padding: 0;
}

.main ul li {
  margin: 0.5em 0;
}


/* PAGE */

.page {
  margin: 2em 0;
}

h1.page-title a:link, h1.page-title a:hover, h1.page-title a:visited {
  color:black;
}

.page-title {
  /* font-family: "Bahiana", Arial, sans-serif; */
  font-size: 3.5em;
  font-weight: 900;
}

.page-date {
  font-size: 1em;
}

.page-content img {
  border: 10px solid #FF5241;
  max-width: 97%;
}

.page-content h2 {
  margin-top: 1em;
  font-weight: 900;
  color: #FF5241;
  font-size: 3em;
  border-top: 5px solid #FF5241;
  padding: 1em 0 0.5em 0;
}

.page-content h3 {
  font-weight: 900;
  color: #222;
  font-size: 1.5em;
  border-top: 0px solid #FF5241;
  padding: 1em 0 0.5em 0;
}

/* FOOTER */

.footer {
  /* border-top: 5px solid black; */
  margin: 3em 0;
}

.footer-title {
  font-size: 1.25em;
  text-transform: lowercase;
}

/* PAGE CUSTOMIZATION */

.lead {
  line-height: 1.5em;
  font-size: 1.5em;
  font-weight: 300;
  display: inline-block;
  margin: 1em 0;
}


/* LIST TESTS */

.page-content > ol {
	counter-reset:li; /* Initiate a counter */
	margin-left:0; /* Remove the default left margin */
	padding-left:0; /* Remove the default left padding */
}

.page-content > ol > li {
	position:relative; /* Create a positioning context */
	margin:0 0 1em 1em; /* Give each list item a left margin to make room for the numbers */
	padding:0em 0em 0em 2em; /* Add some spacing around the content */
	list-style:none; /* Disable the normal item numbering */
	border-top:5px dashed #FF5241;
}

.page-content > ol > li:before {
	content:counter(li); /* Use the counter as content */
	counter-increment:li; /* Increment the counter by 1 */
	/* Position and style the number */
	position:absolute;
	top:-5px;
	left:-1em;
  width:2em;
  height: 2em;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	border-top:5px solid #FF5241;
	color:#FFF8E9;
  font-size: 1.5em;
	background:#FF5241;
	font-weight:900;
	text-align:center;
  padding-top: .4em;
  margin-right: 1em;
}

.page-content > li ol,
.page-content > li ul {margin-top:1em;}
.page-content > ol ol li:last-child {margin-bottom:1em;}
