<div class="main">
  <%- markdown(config.description); %>
  <h2>All posts</h2>
  <ul>
  <% site.posts.forEach(function(post){ %>
    <li><%- partial("_partial/post_link", {title: post.title, postDate: post.date, path: post.path, tags: post.tags}) %></li>
  <% }); %>
  </ul>
</div>
