<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= config.title %>
      <% if (page.title == undefined) { %>
        </title>
      <%} else {%>
        - <%= page.title %></title>
      <% } %>
    <%- css(["css/modern-normalize", "css/ungrid", "css/basic.css"]) %>
  </head>
