<!DOCTYPE html>
<html>
    <!-- import document head from subdir _partial/ -->
    <%- partial( "_partial/head" ) %>
    <body>
        <!-- render layout body -->
        <%- partial( "_partial/top" ) %>
        <%- body %>
        <%- partial( "_partial/footer" ) %>
    </body>
</html>
