<div class="page">
  <div class="page-intro">
    <h1><%= page.title %></h1>
    <p class="page-intro-date">Updated on <%= date(page.updated)  %>.</p>
  </div>
  <div class="page-main">
    <%- page.content %>
  </div>
</div>
